h1 {
    font-size: 3em;
    text-align: left;
    font-family: "Urbanist", sans-serif;
}
h2 {
    text-align: left;
    font-family: "Urbanist", sans-serif;
}
h3 {
    text-align: left;
    font-family: "Urbanist", sans-serif;
}
div {
    font-family: "Urbanist", sans-serif;
}
#refresh {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.warning {
    color: red;
}
#charBackgroundDescrContainer {
    font-size: 0.9em;
    margin-top: 10px;
}
#charSpeciesDescrContainer {
    font-size: 0.9em;
    margin-top: 10px;
}